
<div class="container">
    <div class="row">
        <div class="col-4">
            <p id="message"></p>
        </div>
    </div>
</div>







<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/js/User.js"></script>
